<div class="col-md-6">
  <h2><%= @article.title %></h2>
  <small>author: <%= @article.author.username %></small>
  <br>
  <p><%= @article.body.html_safe %></p>
   <%= image_tag @article.picture(:large) %>

  <p>category: <%= @article.category.name %></p>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'More articles', articles_path %>
  <% if current_user && (current_user.rank == "Lord" || current_user.id == @article.author_id) %>
    | <%= link_to 'Other Versions of this Article', article_versions_path(@article.id) %>
  <% end %>
  <br>
  <% if @article.versions.length >= 2 %>
    <%= form_tag("/articles/#{@article.id}/compare", method: "get") do |form| %>
    Select version number:  <%= collection_select(:version, :version_id, @article.versions, :id, :id) %>
    <%= submit_tag("Compare these versions") %>
  <% end %>
<% end %>
</div>
<div class="col-md-6">
  <br>
  <% if @titles_compare %>
    <h2>Comparison</h2>
    <div  id="comparison">
    <br>
    <h3><%= @string_2.title.html_safe %></h3>
    <br>
    <%= @string_2.body.html_safe %>
  ***********
    <br>
    <h3>Differences</h3>
    <span class="insertion">Yellow text has been inserted,</span> <span class="deletion">while red text has been deleted.</span>
      <br>
      <h3><%= @titles_compare.html_safe %></h3>
      <br>
      <%= @bodies_compare.html_safe %>
      <br>
    </div>

  <% end %>
</div>

