<div>
  <h2>Title: <%= @article.title %></h2>
  <small>author: <%= @article.author.username %></small>
  <p><%= @article.body.html_safe %></p>
  <p>category:<%= @article.category.name %></p>
   <%= link_to 'Edit', edit_article_path(@article) %>
   <%= link_to 'More articles', articles_path %>
</div>
<!-- StringDiff::Diff.new(string_1, string_2).diff -->
<% if @article.versions.length >= 2 %>

  <%= form_tag("/articles/#{@article.id}/compare", method: "get") do |form| %>

      <%= collection_select(:version, :version_id, @article.versions, :id, :id) %>

    <%= submit_tag("Compare these versions") %>
  <% end %>
<% end %>

<% if @titles_compare %>
 <%= @titles_compare.html_safe %>
 <br>
 <%= @bodies_compare.html_safe %>
 <br>
 ***********
 <br>
 <%= @string_2.title.html_safe %>
 <br>
 <%= @string_2.body.html_safe %>
<% end %>
