

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="col-md-8">
        <a href="/articles">Home</a> |
        <% if current_user && current_user.rank == "Lord" %>
            <%= link_to 'Users', users_url %> |
        <% end %>
        <% if current_user %>
          Signed in as <%= link_to current_user.username, current_user %> |
          <%= link_to "Logout", '/logout' %> |
        <% else %>
        <%= link_to 'Login', '/login' %> |
        <%= link_to 'Signup', '/users/new' %>
        <% end %>
        <%= link_to 'Write an Article', new_article_path %>
      </div>
      <div class="col-md-4" id= "search">
        <%= form_tag("/articles/search", method:"get") do %>
          <%= text_field_tag :request %>
          <%= submit_tag :search %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
