<h2>Profile for <%= @user.username %></h2>
<p>Joined <%= @user.created_at %></p>

<% articles = @user.articles.select {|article| article.published} %>
<% published_articles = articles.sort {|article1, article2| article2.updated_at <=> article1.updated_at} %>

<h3><%= published_articles.count %> Published Articles</h3>
  <ul>
    <% published_articles.each do |article| %>
      <li><%= link_to article.title, article_url %> by <%= article.author.username %></li>
    <% end %>
  </ul>

<% versions = @user.versions.sort {|version1, version2| version2.created_at <=> version1.created_at} %>

<h3><%= versions.count %> Created Versions</h3>
  <ul>
    <% versions.each do |version| %>
      <li><%= link_to "Main Article for  '#{version.title}'", article_path(version.article_id) %></li>
    <% end %>
  </ul>
<% drafts = @user.articles.select {|article| !article.published} %>

<h3><%= drafts.count %> Unpublished Drafts</h3>
  <ul>
    <% drafts.each do |article| %>
    <li><%= link_to article.title, article_url %><%= article.author.username %></li>
  <% end %>
</ul>
