<h1>Want to join the Dark side?</h1>
<h2>Sign up to become a master!</h2>

<% if @errors %>
  <%= render partial: "/partials/errors", locals: {errors: @errors} %>
<% end %>

<%= form_for :user, url: '/users' do |form| %>
  Username: <%= form.text_field :username %>
  Email: <%= form.text_field :email %>
  Password: <%= form.password_field :password %>
  <%= form.submit "Submit" %>
<% end %>
