<h2>Choose</h2>
<div class="col-md-6">
  <%= link_to jedidetected_path do %>
    <%= image_tag 'happyface.png', width: 200, height: 200, alt: 'the death star'%>
<% end %>
</div>
<div class="col-md-6">
<%= link_to jedidetected_path do %>
    <%= image_tag 'happyface.png', width: 200, height: 200, alt: 'a red lightsaber'%>
<% end %>
</div>
<br>
<small><%= link_to "I choose neither because a Sith follows no rules", articles_path %></small>
