<h1>Previous versions</h1>

<ul>
  <% @versions.each do |version| %>
    <div>
      <%= version.title %>
      <p><%= version.body %></p>
      <p><%= version.category.name %></p>
      <p>Edits by <%= version.editor.username %> at <%= version.created_at %></p>
    </div>
  <% end %>
</ul>
