<!DOCTYPE html>
<html>
  <head>
    <title>Sithipedia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/articles">Home</a> |
    <% if current_user %>
      Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %> | <a href="/articles/new">Write an article</a>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/users/new' %>
    <% end %>
    <%= yield %>
  </body>
</html>
