<!DOCTYPE html>
<html>
  <head>
    <title>Sithipedia</title>
    <%= csrf_meta_tags %>
    <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "style", :media => "all" %>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  </head>

  <body id= "bootstrap_overrides">
      <div id="main-layout-container" class="container-fluid">
        <h1 id="main-header">Sithipedia</h1>
        <%= render partial: 'partials/navigation' %>
    <%= yield %>
      </div>
  </body>
</html>
